:root{
    --primary:#F77D0A;
    --secondary:#2B2E4A;
    --text:#8486A0;
    --light: #F4F5F8;
    --dark: #1C1E32;
}

/************************** navbar *********************************/

@media screen and (max-width:1100px){
    .navbar-list {
        font-size: 1.3rem;
    }
    #logo{
        font-size: 2.6rem;
    }
    .navbar-item{
        padding: 1rem;
    }
}
@media (min-width:1100px) and (max-width:1135px){
    .navbar-item{
        display: inline-block;
        padding: 1.4rem;
        margin: 0rem .8rem;
        cursor: pointer;
    }
}
@media (min-width:870px) and (max-width:960px){
    .navbar-item{   
        margin: 0rem 0rem;
        cursor: pointer;
    }
}
@media screen and (max-width:870px){
    #checkbtn{
        display:block;
        margin: .5rem;
        font-size: 2rem;
        color: var(--light);
    }
    .navbar-item{
        display:block;
        text-align: center;
    }
    .navbar-list{
        width: 100%;
        height: auto;
        position: absolute;
        left: -100%;
        top: 4.8rem;
        background-color: var(--secondary);
        transition: .5s;
        z-index: 3;
    }
    #check:checked~.navbar-list{
        left: 0;
        transition: .5s;
    }
    
}
@media screen and (max-width:420px){
    #logo{
        font-size: 2.3rem;
    }
    #checkbtn{
        font-size: 1.6rem;
        margin-top: .6rem;
    }
}
/************************** navbar *********************************/
/************************** slider *********************************/
@media screen and (min-width:870px){
    .carousel{
        top: -1px;
    }

}
@media screen and (min-width:1100px){
    .carousel{
        top: -15px;
    }

}
@media (min-width:1101px) and (max-width:1300px){
    .carousel-caption{
        color:var(--light);
        position: absolute;
        top: 8rem;
    }
    .carousel-caption h1{ 
        font-size:4rem;
        margin: 0rem;
    }
    .carousel-caption p{ 
        font-size:2rem;
    }

} 
@media (min-width:901px) and (max-width:1100px){
    .carousel-caption{
        color:var(--light);
        position: absolute;
        top: 6rem;
    }
    .carousel-caption h1{ 
        font-size:3rem;
        margin: 0rem;
    }
    .carousel-caption p{ 
        font-size:1.3rem;
    }

} 
@media (min-width:601px) and (max-width:900px){
    .carousel-caption{
        color:var(--light);
        position: absolute;
        top: 3rem;
    }
    .carousel-caption h1{ 
        font-size:2.5rem;
        margin: 0rem;
    }
    .carousel-caption p{ 
        font-size:1rem;
    }

} 
@media screen and (max-width:600px){
    
    .carousel-caption{
        color:var(--light);
        position: absolute;
        top: 0rem;
    }
    .carousel-caption h1{ 
        font-size:1.5rem;
        margin: 0rem;
    }
    .carousel-caption p{ 
        font-size:.6rem;
        padding-bottom: -3rem;
    }
    .carousel-caption button{
        color:var(--light);
        padding: .4rem 1rem;
    }

}
/************************** slider *********************************/

/************************** about-us *********************************/
@media screen and (max-width:991px){
    .about-box-section{
        align-items: center;
    }
    .about-box{
        margin: 1rem;
    }
    .support-box h5{
        padding: 0rem -1rem;
    }
}
@media (min-width:1200px) and (max-width:1400px){
        .box-support{
            padding:1.5rem 1rem 1.5rem 0rem;  
        }
        .ibox{
            padding: 1rem 2rem 0rem 2rem;
        }
        /* .support-box h5{
            padding: 1rem ;
            font-size: 1.5rem;
        } */
}
/************************** about-us *********************************/

/************************** client *********************************/

@media screen and (max-width:992px){
    .client-img {
        width: 150px;;
        height: 150px;
        /* margin-left: 8rem; */
    }
    #client-text{
        margin-top: 0rem;
        padding-right: 0rem;
    }
}
@media screen and (max-width:768px){
    .client-img {
        width: 250px;
        height: 250px;
        justify-self: center;
    }
    .client-slider h2{
        font-size:2rem;
        justify-self: center;
        padding-top: 1rem;
    }
    .client-slider h4{
        font-size: 1.5rem;
        padding:0rem;
        justify-self: center;
    }
    .client-slider p{
        font-size: .7rem;
        padding-right: 7rem;
        justify-self: center;
        padding-left: 9rem;
    }

}
@media screen and (max-width:550px) {
    .client-slider p{
        font-size: .7rem;
        padding: 0rem 3rem;
    }
    .client h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:450px) {
    .client-img {
        width: 250px;
        height: 250px;
        justify-self: none;
    }
    .client-slider h2{
        font-size:2rem;
        justify-self: none;
        padding-top: 1rem;
    }
    .client-slider h4{
        font-size: 1.5rem;
        padding:0rem;
        justify-self: none;
    }
    .client-slider p{
        font-size: .7rem;
        padding-right: 0rem;
        justify-self: none;
        padding-left: 0rem;
    }
    #client button{
        background-color: none;
        display: none;
        }
}
/************************** client *********************************/


/************************** offer *********************************/
@media screen and (max-width:770px){
    
    .offer-overlay{
        background-color: rgba(11, 11, 11, 0.7);
        padding: 50px;
    }
    .offer h2{
        font-size: 3rem;
        color: var(--primary);
        font-weight: bolder;
    }
    .offer h3{
        font-size: 1.8rem;
        color: var(--light);
        font-weight: bolder;
    }
    .offer p{
        font-size: 1rem;
        color: var(--text);
        text-transform: capitalize;
    }
    button{
        background-color: var(--primary);
        color: var(--light);
        padding: .5rem 1rem;
        text-transform: capitalize;
        font-size: .8rem;
        font-weight: bolder;
        border: none;
    }
}
/************************** offer *********************************/

/************************** find car *********************************/
@media screen and (max-width:576px) {
    .drive-section{
        margin: 0rem 2rem;
    }
    .drive-img{
        width: 80%;
    }
    .drive-section h2{
        font-size: 1.5rem;
        margin: 0rem;
    }
    .drive-section p{
        font-size: .7rem;
        margin: 0px;
        margin-top: 1rem;
    }
    .drive-section button{
        background-color: var(--primary);
        padding: 0.5rem 0.8rem;
        font-size: .8rem;
    }

}


/************************** find car *********************************/

/************************** car brand *********************************/
/* @media screen and (max-width:768px){
    .car-brand{
        background-color: var(--text);
    }
    .car-brand-box{
        background-color: var(--light);
    }
    .car-box{
        padding: 0rem;
    }
    .car-brand img{
        width: 100%;
    }
} */

/************************** car brand *********************************/

/************************** fooer *********************************/
@media screen and (max-width:991px){
    .social{
        margin-bottom:2rem ;
    }
    .news-section{
        margin-top: 1.2rem;
    }
    .uselink{
        margin-left: 1rem;
    }
    .gallery{
        width: 90%;
    }
}
@media screen and (max-width:765px){
    .news-section{
        margin-top: 1.2rem;
        margin-left: -1.5rem;
        width: 90%;
    }
    .uselink{
        margin-left: 0rem;
    }
    .gallery{
        width: 80%;
    }
}
/************************** fooer *********************************/

